In [1]:
import pandas as pd
import numpy as np

In [9]:
movies_df=pd.read_csv("ml-latest-small/movies.csv",usecols=["movieId","title"])
ratings_df=pd.read_csv("ml-latest-small/ratings.csv",usecols=["movieId","rating","userId"],dtype={"userId":"int32","movieId":"int32","ratings":"float32"})

In [10]:
ratings_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [72]:
df=pd.merge(movies_df,ratings_df,on="movieId")
df.shape

(100836, 4)

In [67]:
combine_movie_rating = df.dropna(axis = 0, subset = ['title'])
movie_ratingCount = (combine_movie_rating.
     groupby(by = ['title'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'totalRatingCount'})
     [['title', 'totalRatingCount']]
    )
movie_ratingCount.head()

                                     title  totalRatingCount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [78]:
rating_with_totalRatingCount = combine_movie_rating.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalRatingCount.head()
rating_with_totalRatingCount.shape

(100836, 5)

In [83]:
popularity_threshold = 50
rating_popular_movie= rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.head()

   movieId             title  userId  rating  totalRatingCount
0        1  Toy Story (1995)       1     4.0               215
1        1  Toy Story (1995)       5     4.0               215
2        1  Toy Story (1995)       7     4.5               215
3        1  Toy Story (1995)      15     2.5               215
4        1  Toy Story (1995)      17     4.5               215

In [114]:
pt=rating_popular_movie.pivot_table(index="title",columns="userId",values="rating").fillna(0)

KeyError: '439'

In [88]:
import math
indexNamesArr = pt.index.values

In [111]:
distance=list()
for movie in range(rows):
    distanceOfPoint = math.sqrt(sum([(a - b) ** 2 for a, b in zip(pt.iloc[0], pt.iloc[movie])]))
    distance.append((distanceOfPoint,indexNamesArr[movie],movie))

In [112]:
for point in distance:
    #print(point)
    pass
distance = sorted(distance)[:4]
for mo in distance:
    print(mo)
#print("movie",indexNamesArr[0],distance)

(0.0, '10 Things I Hate About You (1999)', 0)
(26.893307717720408, 'Wild Wild West (1999)', 439)
(27.982137159266443, 'Wedding Singer, The (1998)', 433)
(28.106938645110393, 'What Women Want (2000)', 434)

In [103]:
(rows,columns)=pt.shape
rows

450

In [104]:
indexNamesArr = pt.index.values
indexNamesArr[0]

'10 Things I Hate About You (1999)'

In [118]:
print(pt.iloc[0])
print(pt.iloc[439])

userId
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      0.0
8      0.0
9      0.0
10     0.0
11     0.0
12     5.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
19     3.0
20     0.0
21     0.0
22     0.0
23     0.0
24     0.0
25     0.0
26     0.0
27     0.0
28     0.0
29     0.0
30     0.0
      ...
581    0.0
582    0.0
583    5.0
584    0.0
585    0.0
586    0.0
587    0.0
588    0.0
589    0.0
590    0.0
591    0.0
592    0.0
593    0.0
594    0.0
595    0.0
596    0.0
597    3.0
598    0.0
599    3.0
600    3.0
601    0.0
602    0.0
603    3.0
604    0.0
605    5.0
606    0.0
607    0.0
608    0.0
609    0.0
610    0.0
Name: 10 Things I Hate About You (1999), Length: 606, dtype: float64
userId
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      1.5
8      0.0
9      0.0
10     0.0
11     0.0
12     0.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
19     1.0
20     1.0
21     0.0
22     0.0
23     0.0
24     0.0
25     0.0
26     0.0
27     0.0
28     1.5
29     0.0
30     0.0
      ...
581    0.0
582    0.0
583    0.0
584    0.0
585    0.0
586    0.0
587    0.0
588    0.0
589    0.0
590    2.5
591    0.0
592    0.0
593    0.0
594    0.0
595    0.0
596    1.5
597    0.0
598    0.0
599    1.0
600    2.0
601    0.0
602    0.0
603    0.0
604    0.0
605    0.0
606    0.0
607    0.0
608    2.5
609    0.0
610    0.0
Name: Wild Wild West (1999), Length: 606, dtype: float64

In [120]:
sum=0
for i in pt.iloc[0]:
    sum=sum+i
print(sum)

190.5

In [121]:
sum=0
for i in pt.iloc[439]:
    sum=sum+i
print(sum)

117.0

In [122]:
sum=0
for i in pt.iloc[433]:
    sum=sum+i
print(sum)

191.5

In [123]:
sum=0
for i in pt.iloc[434]:
    sum=sum+i
print(sum)

169.5